In [1]:
import pandas as pd

In [27]:
df_clientes = pd.read_csv('files/clientes.csv')

In [25]:
df_products = pd.read_csv('files/productos.csv')

In [30]:
df_products.head()

,ID,Nombre_Producto,Categoría,Precio,Origen,Descripción
0,A1,Pizza Margherita,Platos Preparados,8.99,Italia,Clásica pizza italiana con tomate;mozzarella f...
1,B2,Risotto de Champiñones,Platos Preparados,6.75,Italia,Risotto cremoso con champiñones frescos;una de...
2,C3,Tiramisú,Postres,5.49,Italia,Postre clásico italiano con capas de bizcocho ...
3,D4,Panettone,Repostería,10.99,Italia,Pan dulce navideño italiano con frutas confita...
4,E5,Orecchiette,Productos Secos,4.29,Italia,Pequeñas pastas con forma de orecchiette ideal...

In [42]:
# Vamos a hacer una función que nos devuelva el precio del plato

lista_productos = list(df_products["Nombre_Producto"].unique())

In [43]:
type(lista_productos)

list

In [44]:
lista_precios= list(df_products["Precio"].unique())

In [49]:
def precio_plato(plato):
    if plato in lista_productos:
        indice = lista_productos.index(plato)
        return lista_precios[indice]
    else:
        return "Producto no encontrado"

In [50]:
precio_plato("Tiramisú")

5.49

In [28]:
df_ventas= pd.read_csv('files/ventas.csv')

In [29]:
df_ventas.head()

   ID_Cliente ID_Producto Fecha_Venta  Cantidad  Total
0         723          A1  2023-11-22         2  17.98
1         498          C3  2023-11-21         1   5.49
2         121          D4  2023-11-20         3  32.97
3         885         L12  2023-11-19         1   6.49
4         347         Q17  2023-11-18         2   7.98